img {
    width: 100%;
    height: auto;
}

	#img2 {
		display: none;
	}

@media only screen and (max-width: 600px) {
	
	.btn {
		font-size: 10px;
	}
	
	
    img {
        display: none;
    }
	
	#img2 {
		display: block;
	}
		
}

.btn-danger{
	background-color: #FA0000 !important; //Bootstrap override
}